:root {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}
body {
  background-color: var(--slate-300);
  font-family: 'Outfit';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20vw;
  min-width: 280px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 20px;
  text-align: center;
}
.card p {
  font-size: 15px;
  color: var(--slate-500);
}
.title {
  color: var(--slate-900);
  font-weight: 900;
}
.card img {
  border-radius: 10px;
  width: 100%;
}

/* for show-off! */
@media only screen and (max-width: 1440px) {
    .title {
        font-size: 23px;
      }
      .card p {
        font-size: 15px;
      }
  }
@media only screen and (max-width: 375px) {
    .title {
        font-size: 23px;
      }
      .card p {
        font-size: 15px;
      }
}


